<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tostão</title>
    <link rel="icon" type="image/x-icon" href="../resources/files/pics/logo_tostao_bank.ico"/>
    <link rel="stylesheet" href="../resources/css/Index.css">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
</head>
<body>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init({
            once: false, // muda para true se quiser animar só uma vez
            mirror: true // ativa a reversão quando voltar a subir
        });
    </script>

        <!-- Tela de boas-vindas -->
    <div id="welcome-screen" class="screen active">
        <h1>Bem-vindo ao Tostão Bank</h1>
    </div>

    <header>
    <img id="logo" src="../resources/files/pics/logo_tostao_bank.png" alt="Tostão Bank">

    <h1 id="titulo">Tostão Bank</h1>

    <button id="openMenu">&#9776;</button>

    <nav id="menu">
        <button id="closeMenu">X</button>
        <a href="login.php">Login</a>        
        <a href="cadastro.php">Criar conta</a>
        <a href="#container3">Sobre Nós</a>
        <!--FAZER O BOTAO DE CLARO E ESCURO-->
    </nav>
    </header>

    <div id="conteudo">
        <div id="container1">
            <aside id="aside1">
                <picture class="img-aside1">
                    <source media="(max-width: 750px)" srcset="../resources/files/pics/mexendoCel300.png" type="image/png">
                    <source media="(max-width: 1050px)" srcset="../resources/files/pics/mexendoCel700.png" type="image/png">
                    <img src="../resources/files/pics/mexendoCel700.png" alt="imagem flexível">
                </picture>
            </aside>
            <main>
                <section class="sobre1">
                    <h1 class="titulo-section1">Sobre o Banco</h1>
                    <div class="conteudo-section1">
                        <p class="texto-section1">
                            O Tostão Bank é uma instituição financeira dedicada a revolucionar o acesso bancário para pessoas de baixa renda.
                            No Tostão Bank, acreditamos que a tecnologia pode e deve ser uma aliada na construção de uma sociedade mais justa e igualitária.
                        </p>
                        <picture class="img-section1">
                            <source media="(max-width: 750px)" srcset="../resources/files/pics/moeda-128.png" type="image/png">
                            <source media="(max-width: 1050px)" srcset="../resources/files/pics/moeda-256.png" type="image/png">
                            <img src="../resources/files/pics/moeda-256.png" alt="imagem flexível">
                        </picture>
                    </div>
                </section>
            </main>
        </div>
        <div id="missao" data-aos="fade-up">
            <p>
                Nossa missão é empoderar indivíduos e comunidades,
                oferecendo ferramentas financeiras que facilitam a gestão do dinheiro e promovem a
                independência financeira!
            </p>
        </div>
        <div id="container2">
            <main>
                <section class="sobre2">
                    <h1 class="titulo-section2">Acesso Fácil ao Banco</h1>
                    <div class="conteudo-section2" data-aos="fade-up">
                        <p class="texto-section2">
                            Por isso, desenvolvemos produtos e serviços inovadores, atendendo às necessidades específicas desse público, garantindo que todos possam ter acesso a serviços bancários de qualidade, de forma simples e eficiente.
                        </p>
                        <picture class="img-section2">
                            <source media="(max-width: 750px)" srcset="../resources/files/pics/moeda-128.png" type="image/png">
                            <source media="(max-width: 1050px)" srcset="../resources/files/pics/moeda-256.png" type="image/png">
                            <img src="../resources/files/pics/moeda-256.png" alt="imagem flexível">
                        </picture>
                    </div>
                </section>
            </main>
            <aside id="aside2">
                <picture class="img-aside2">
                    <source media="(max-width: 750px)" srcset="../resources/files/pics/PersonCel2.png" type="image/png">
                    <source media="(max-width: 1050px)" srcset="../resources/files/pics/PersonCel2.png" type="image/webp">
                    <img src="../resources/files/pics/PersonCel2.png" alt="imagem flexível">
                </picture>
            </aside>
        </div>
        <div id="cartao">
            <section id="sobre4" data-aos="fade-up">
                <p class="texto-section4">
                    Com o cartão Tostão, você tem controle total sobre seus gastos, segurança nas suas transações e a praticidade de um banco 100% digital. Moderno, prático e feito para o seu dia a dia.
                </p>
            </section>
            <aside>
                <picture class="img-aside4" data-aos="fade-up">
                    <img src="../resources/files/pics/cartao_tostao.png" alt="Cartão Tostão">
                </picture>
            </aside>
        </div>
        <div id="container3">
            <aside>
                <picture class="img-aside3">
                    <source media="(max-width: 750px)" srcset="../resources/files/pics/logo_tostao_bank.png" type="image/png">
                    <source media="(max-width: 1050px)" srcset="../resources/files/pics/logo_tostao_bank.png" type="image/png">
                    <img src="../resources/files/pics/logo_tostao_bank.png" alt="imagem flexível">
                </picture>
            </aside>
            <main>
                <section class="sobre3">
                    <h1 class="titulo-section3">Sobre Nós</h1>
                    <div class="conteudo-section3">
                        <p class="texto-section3" data-aos="fade-up">
                            Bem-vindo à página do Banco Digital desenvolvido pelo talentoso grupo do 2º semestre do curso de Desenvolvimento de Software Multiplataforma da FATEC Mauá.
                            Somos apaixonados por tecnologia e inovação, e unimos nossos conhecimentos para criar uma experiência bancária digital única e acessível para todos.
                            Nossa equipe é composta por mentes criativas e dedicadas, comprometidas em fornecer soluções de alta qualidade.
                            Com habilidades em programação, design de interface e análise de sistemas, trabalhamos incansavelmente para oferecer uma plataforma intuitiva, segura e eficiente para nossos usuários.
                        </p>
                    </div>
                </section>
            </main>
        </div>

    </div>

    <footer>© Tostão Bank 2025</footer>

    <script src="../resources/js/index.js"></script>
    <script src="../resources/js/load.js"></script>

</body>
</html>