<html>
  <head>
    <meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="../resources/files/pics/logo_tostao_bank.png"/>
    <link rel="stylesheet" href="../resources/css/Index.css">
  </head>

  <body>
    <div class="header" id="header">
      <button onclick="toggleSideBar()" class="btn_icon_header">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
      <textoG>Tostão Bank</textoG>
      <div onclick="toggleSideBar()" class="headerNav" id="headerNav">
        <button class="btn_icon_header">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </button>
        <a href="index.html" class="ativo">Início</a>
        <a href="login.php">Login</a>
        <a href="cadastro.php">Criar conta</a>
      </div>
    </div>

    <div tabindex="0" onclick="closeSideBar()" class="content" id="content">
      <TextoM>Bem-vindo ao Tostão Bank!</TextoM><br><br><br><br><br><br>
      <h1>Sobre o Banco</h1>
      <div class="container" id="container">
        <img src="../resources/files/pics/mexendoCel.png" id="imgEsquerda">
        <p>
          <h2>O Tostão Bank é uma instituição financeira dedicada a revolucionar o acesso bancário para pessoas de baixa renda.<br>
            No Tostão Bank, acreditamos que a tecnologia pode e deve ser uma aliada na construção de uma sociedade mais justa e igualitária.</h2>
        </p>
      </div>

      <div class="curved top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 130 1440 170">
          <path fill="#EEEFEE" fill-opacity="1" d="M0,224L80,229.3C160,235,320,245,480,234.7C640,224,800,192,960,186.7C1120,181,1280,203,1360,213.3L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
        </svg>
      </div>

      <div class="curved">
        <h1><b>Nossa missão é empoderar indivíduos e comunidades, <br>oferecendo ferramentas financeiras que facilitam a gestão do dinheiro e promovem a <br>independência financeira!</b></h1>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 130 1440 170">
          <path fill="#0F0840" fill-opacity="1" d="M0,224L80,229.3C160,235,320,245,480,234.7C640,224,800,192,960,186.7C1120,181,1280,203,1360,213.3L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
        </svg>
      </div>

      <div class="container" id="container">
        <h2>Por isso, desenvolvemos produtos e serviços inovadores, atendendo às necessidades específicas desse público, garantindo que todos possam ter acesso a serviços bancários de qualidade, de forma simples e eficiente.</h2>
        <img src="../resources/files/pics/abestadoCel.webp" id="imgDireita">
      </div>
      <br><br>

      <div class="header2"></div><br><br>

      <h1>Sobre Nós</h1><br><br>
      <h2>Bem-vindo à página do Banco Digital desenvolvido pelo talentoso grupo do 2º semestre do curso de Desenvolvimento de Software Multiplataforma da FATEC Mauá. <br>
        Somos apaixonados por tecnologia e inovação, e unimos nossos conhecimentos para criar uma experiência bancária digital única e acessível para todos.</h2>
      <br><br>

      <h2>Nossa equipe é composta por mentes criativas e dedicadas, comprometidas em fornecer soluções de alta qualidade.<br>
        Com habilidades em programação, design de interface e análise de sistemas, trabalhamos incansavelmente para oferecer uma plataforma intuitiva, segura e eficiente para nossos usuários.</h2>
      <br><br>
      <!-- <h2>Conheça Nossa Equipe:</h2>
      <br><br>
      <img src="../resources/files/pics/bobEmo.png"><br><br> -->

      <div class="footer" id="footer">
        <h5>&#169; Copyright 2024</h5>
      </div>
    </div>
  </body>

  <script>
    var header = document.getElementById('header');
    var nav = document.getElementById('headerNav');
    var content = document.getElementById('content');
    var showSideBar = false;

    function toggleSideBar(){
      showSideBar = !showSideBar;
      if(showSideBar){
        headerNav.style.marginLeft = '-10vw';
        headerNav.style.animationName = 'showSideBar';
        content.style.filter = 'blur(2px)';
      } else {
        headerNav.style.marginLeft = '-100vw';
        headerNav.style.animationName = '';
        content.style.filter = '';
      }
    }

    function closeSideBar(){
      if(showSideBar){
        toggleSideBar();
      }
    }

    window.addEventListener('resize', function(event) {
      if(window.innerWidth > 700 && showSideBar){
        toggleSideBar();
      }
    });
  </script>
</html>
